<mat-card>
  <mat-card-title>Random Title</mat-card-title>
  <mat-card-subtitle>Random subtitle</mat-card-subtitle>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolor officia pariatur consequatur esse libero
    veritatis consectetur praesentium eum accusantium! Provident cumque animi exercitationem itaque culpa voluptas quis
    iste sequi?
    Veritatis error minima numquam inventore officiis? Modi incidunt, qui dignissimos assumenda sequi nulla aut ipsum
    numquam eum vero voluptatum sit dolorem perspiciatis architecto perferendis veniam itaque voluptates tempora
    debitis repudiandae.
    Tempore dolore laudantium deserunt rerum dolores voluptates illo libero, distinctio ex sequi, totam ipsum esse
    ullam temporibus dolor ab. Minus at qui mollitia rem aperiam amet optio officiis aliquid ipsa?
  </mat-card-content>
  <!-- <mat-card-image></mat-card-image> -->
  <app-post-actions></app-post-actions>
  <mat-card-footer>
      Maybe comments. Will see.
  </mat-card-footer>
</mat-card>
