<mat-card>
  <mat-card-title>
    <a [routerLink]=[post.id]>{{ post.title }}</a>
  </mat-card-title>
  <mat-card-subtitle>
    {{ post.subReddit }} | {{ post.postedBy }} {{ post.postedDate | date:'short' }}
  </mat-card-subtitle>
  <app-post-actions [commentsNumber]="post.commentsNumber" [isOpen]="isOpen" (expand)="isOpen = $event"></app-post-actions>
  <mat-card-content *ngIf="isOpen">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, neque odit tempora cumque dolore quam sunt
    repellat rem quo aut ab unde soluta sit architecto aliquid Fdicta iure sint blanditiis?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit eaque pariatur laboriosam illo nobis quam sequi
    perferendis, sint iusto molestiae repellendus, blanditiis fugit soluta. Repellendus blanditiis ab doloremque
    asperiores provident.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, magnam aliquam sit architecto accusamus quos ad
    officia fuga optio quisquam perferendis accusantium expedita consequuntur mollitia explicabo dignissimos laudantium
    cumque nesciunt.
  </mat-card-content>
</mat-card>
