<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a class="cursor" [routerLink]="[post.id]">{{ post.title }}</a>
    </mat-card-title>
    <mat-card-subtitle>
      r/{{ post.subreddit }} | {{ post.author }} {{ post.created | date:'medium'}}
    </mat-card-subtitle>
    <img mat-card-avatar [src]="post.thumbnail">
  </mat-card-header>
  <app-post-actions [isExpandShown]="post.selftext" [commentsNumber]="post.num_comments" [isExpanded]="isExpanded" (expand)="isExpanded = $event"></app-post-actions>
  <mat-card-content *ngIf="isExpanded">
    {{post.selftext}}
  </mat-card-content>
</mat-card>
