<mat-card-actions>
  <button mat-button (click)="onExpand()">
    <mat-icon>{{icon}}</mat-icon>
  </button>
  <button mat-button (click)="onViewComments()">
    <mat-icon>comment</mat-icon>
    {{ commentsNumber }}
  </button>
  <button mat-button (click)="onShare()">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-button (click)="onSave()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-button (click)="onStar()">
    <mat-icon>stars</mat-icon>
  </button>
  <button mat-button (click)="onBlock()">
    <mat-icon>block</mat-icon>
  </button>
  <button mat-button (click)="onFlag()">
    <mat-icon>flag</mat-icon>
  </button>
</mat-card-actions>
